// about
.about {
  &-intro {
    margin-bottom: 50px;

    &__txt {
      font-weight: 300;
      font-size: 16px;
      white-space: pre-line;

      &+& {
        margin-top: 15px;
      }
    }

    &__email {
      display: inline-block;
      margin-top: 30px;
      font-weight: 300;
      font-size: 15px;
    }

    &__link {
      font-weight: 300;
      font-size: 15px;
      margin-left: 20px;
      text-decoration: underline;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-skills {
    &+& {
      margin-top: 30px;
    }

    &__subj {
      margin-bottom: 10px;
      font-weight: 600;
    }

    &__item {
      display: inline-block;
      position: relative;

      &+& {
        margin-left: 20px;
      }
    }

    &__info {
      display: flex;
    }

    &__img {
      width: 40px;
      height: 40px;

      img {
        width: 100%;
      }
    }

    &__name {
      position: absolute;
      left: 50%;
      top: 30px;
      transform: translateX(-50%);
      padding: 5px 10px;
      background-color: #000;
      border-radius: 10px;
      color: #fff;
      font-size: 11px;
      opacity: 0;
      transition: top .4s ease-in-out, opacity .3s ease-in-out;

      [data-item="html"] & {
        background-color: #fd9828;
      }

      [data-item="css"] & {
        background-color: #1f96f6;
      }

      [data-item="sass"] & {
        background-color: #be6f91;
      }

      [data-item="js"] & {
        background-color: #f0db4e;
      }

      [data-item="jquery"] & {
        background-color: #0666a9;
      }

      [data-item="git"] & {
        background-color: #000;
      }

      [data-item="sourcetree"] & {
        background-color: #235182;
      }

      [data-item="photoshop"] & {
        background-color: #094db3;
      }

      [data-item="react"] & {
        background-color: #59dafa;
      }

      [data-item="redux"] & {
        background-color: #714fb7;
      }

      [data-item="webpack"] & {
        background-color: #1e78c3;
      }

      .about-skills__item:hover & {
        top: 45px;
        opacity: 1;
      }
    }
  }
}

@include tablet {
  .about {
    &-skills {
      &__info {
        justify-content: center;
      }

      &__name {
        position: static;
        transform: translateX(0);
        margin-top: 10px;
        opacity: 1;
      }
    }
  }
}

@include mobile {
  .about {
    &-intro {
      &__txt {
        font-size: 14px;
      }

      &__email {
        margin-top: 20px;
        font-size: 13px;
      }

      &__link {
        font-size: 13px;
      }
    }

    &-skills {
      &__item {
        display: block;

        &+& {
          margin: 10px 0 0 0;
        }
      }

      &__name {
        margin-top: 5px;
        text-align: center;
      }
    }
  }
}