// home
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;

    &+.sec {
        padding-top: 0;
    }

    .txt {
        font-size: 36px;

        @include tablet {
            font-size: 30px;
        }
    }

    .name {
        font-weight: 700;
        font-size: 30px;

        @include tablet {
            font-size: 24px;
        }
    }
}