// home
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;

    &+.sec {
        padding-top: 0;
    }

    .typewriter {
        font-weight: 600;
        font-size: 50px;

        span {
            border-right: .05em solid;
            animation: caret 1s steps(1) infinite;
        }
    }

    .name {
        font-weight: 700;
        font-size: 30px;
    }
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

@include tablet {
    .txt {
        font-size: 30px;
    }

    .name {
        font-size: 24px;
    }
}