// project
.project {
    &_list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .item {
            width: 100%;
            max-width: calc((100% / 3) - 20px);
            margin: 0 10px 30px 10px;
            cursor: pointer;

            &:hover .img img {
                transform: translate(-50%, -50%) scale(1.2);
            }

            .img {
                position: relative;
                width: 100%;
                height: 150px;
                margin-bottom: 10px;
                background-color: lightgray;
                border-radius: 20px;

                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: transform .5s ease-in;
                }
            }

            .subj {
                font-size: 16px;
            }

            .role {
                font-weight: 300;
                font-size: 12px;
                color: #666;
            }

            .date {
                font-weight: 300;
                font-size: 12px;
                color: #666;
            }
        }
    }

    &_detail {
        position: relative;

        &_back {
            overflow: hidden;
            position: absolute;
            right: 25px;
            top: 160px;
            width: 36px;
            height: 36px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 0;
            text-indent: -9999px;
        }

        &_tit {
            margin-bottom: 30px;
            font-weight: 600;
        }

        &_img {
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }

        &_txt {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #000;

            .txt {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &_list {
            .item {
                position: relative;
                padding-left: 10px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 13px;
                    width: 4px;
                    height: 4px;
                    background-color: #000;
                }

                .link {
                    color: blue;
                    text-decoration: underline;
                }

                .role_list {
                    li {
                        position: relative;
                        padding-left: 15px;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 15px;
                            width: 8px;
                            height: 1px;
                            background-color: #000;
                        }
                    }
                }
            }
        }
    }
}

@include tablet {
    .project {
        &_list {
            .item {
                max-width: calc((100% / 2) - 20px);
            }

            .img {
                height: 200px;
            }
        }
    }
}

@include mobile {
    .project {
        &_list {
            .item {
                max-width: 100%;
                margin: 0 0 20px 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &_detail {
            padding-top: 100px;

            &_back {
                top: 105px;
                width: 28px;
                height: 28px;
            }

            &_list {
                .item {
                    &::before {
                        top: 9px;
                    }

                    .role_list {
                        li {
                            &::before {
                                top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}