// common
.sec {
    width: 100%;

    &_subj {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 50px;
        font-style: italic;
        text-align: center;
    }
}

// home
#homeCont {
    height: 50vh;
    background-color: #fee253;

    .sec_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;

        .txt {
            font-size: 36px;
        }

        .name {
            font-weight: 700;
            font-size: 30px;
        }
    }
}

// about
#aboutCont {
    padding: 100px 0;
    background-color: #fff;

    .sec_cont {
        width: 650px;
        margin: 0 auto;

        .introduce {
            overflow: hidden;
            display: inline-block;
            margin-bottom: 30px;

            .photo {
                float: left;
                width: 180px;
                height: 180px;
                border-radius: 100%;
            }

            &_list {
                float: left;
                margin-left: 30px;

                .list {
                    margin-bottom: 10px;
                    font-size: 0;
                    text-align: left;

                    .tit,
                    .info {
                        display: inline-block;
                        font-size: 20px;
                    }

                    .tit {
                        width: 100px;
                        font-weight: 700;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .can {
            &_tit {
                display: inline-block;
                width: 65px;
                height: 35px;
                margin-bottom: 20px;
                background: #333;
                border-radius: 50px;
                color: #fff;
                line-height: 35px;
                text-align: center;
            }

            &_list {
                li {
                    position: relative;
                    padding-left: 10px;
                    font-size: 15px;

                    &::before {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 4px;
                        height: 4px;
                        margin-top: -2px;
                        background-color: #393939;
                        content: "";
                    }
                }
            }
        }
    }
}

// career
#careerCont {
    padding: 100px 0;
    background-color: #222;
    text-align: center;

    .sec_subj {
        color: #fff;
    }

    .sec_cont {
        display: inline-block;

        &_tit {
            float: left;
            font-size: 20px;
            color: #fff;
            letter-spacing: .03em;
        }

        .career {
            text-align: left;

            &_list {
                margin-left: 310px;

                li {
                    font-size: 18px;
                    color: #fff;
                    line-height: 25px;
                    letter-spacing: .02em;

                    span {
                        font-size: 13px;
                        color: #ccc;
                    }

                    .date {
                        margin-right: 10px;
                    }
                }
            }
        }

        .skill {
            &_list {
                margin: 45px 0 0 310px;

                li {
                    position: relative;
                    width: 400px;
                    height: 33px;
                    margin-top: 13px;
                    background-color: #ddd;
                    border-radius: 5px;

                    .bar {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        padding: 0px 10px;
                        background-color: #ffb500;
                        border-radius: 5px;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 33px;
                        letter-spacing: .05em;

                        .percent {
                            padding: 0px 2px;
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}